<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <style>
    
                h1 {
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                }
                form {
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    margin-top: 4%;
                    
                }
                input {
                    border-radius: 40px;
                    border-color: grey;
                }
            </style>
    </head>
<body>
{% extends 'base.html' %}
{% block contents %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}


<form method="POST" action="{% url 'login'%}">
{% csrf_token %}
    <h1>Login Page</h1>
    <br>
    Username:
    <br>
    <input name="username" type="text">
    <br>
    <br>
    Password:
    <br>
    <input name="password" type="password">
    <br>
    <br>
    <input class="btn btn-warning" type="submit" value="Login">
</form>

{% endblock %}
</body>