{% load staticfiles %}
<head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="two">
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
       <a class="navbar-brand" href="#">Homepage</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
           <a class="nav-item nav-link" href="{% url 'social' %}">Social Login</a>
           {% if user.is_authenticated %}
         <!-- 로그인이 되어있는지 물어보기-->
                <a class="nav-item nav-link" href="{% url 'new' %}">Write</a>
                <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}<input type="hidden"/>
                {{ user.username }} 님!
                </form>
                 <!-- 로그아웃 버튼을 누르면 POST방식으로, csrf_token도 같이 전송, form 태그를 통해 전송-->
        {% else %}
        <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}
         </div>
       </div>
     </nav>
    </div>

 <!-- 이 아래에 콘텐츠가 올 예정입니다 선언-->
 {% block contents %}
 <!--title 이라면 block title/ footer이면 block footer로 작성 -->
<!-- 여기에 겹치지 않는 콘텐츠가 위치함 -->
 {% endblock %}
 </body>
